@use '../../../assets/styles/variables.scss' as *;

.business-and-accounts {
  &__toolbar {
    display: block;
    text-align: right;
    margin-bottom: 16px;
  }

  &__cards {
    clear: both;
  }

  &__card {
    position: relative;
  border: 1px solid $accent;
  border-radius: 10px;
  }

  &__card-role {
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 11px;
    line-height: 1.2;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.65);
  }

  &__card-name {
    text-align: center;
  }
}
